---
import clsx from "clsx";
import i18next, { changeLanguage, t } from "i18next";
import Section from "../components/Section.astro";
import SpeakerProfile from "../components/SpeakerProfile.astro";
import { getTeam } from "../data/team";
import Layout from "../layouts/Layout.astro";
import { randomize } from "../utils";
import SocialIcon from "../components/SocialIcon.astro";
// @ts-expect-error - no types
import { localizeUrl } from "astro-i18next";
import { env } from "../costants";

changeLanguage("en");

const team = await getTeam(i18next.language);
const randomTeam = randomize(team);
export const prerender = false;
---

<Layout title="Devfest Pescara 2023 - Team">
  <Section title="Team" id="team" additionalClass="dots" />
  <div
    class="max-w-screen-2xl m-auto lg:grid 2xl:grid-cols-3 lg:grid-cols-2 gap3"
  >
    {
      randomTeam.map((teamMember) => (
        <div class="bg-[#232323] rounded-xl p-6  justify-center m-2">
          <div class="col-span-2">
            <div class="text-center">
              <div>
                <a
                  href={localizeUrl(`${env.siteUrl}/team/${teamMember.id}`)}
                  title={`${t("see-profile", { name: teamMember.name })}`}
                >
                  <img
                    src={
                      teamMember.imageUrl ||
                      "https://placehold.co/300x300?text=?"
                    }
                    class="w-60 h-60 rounded-full border-4 m-auto"
                    alt=""
                  />

                  <h2 class="text-4xl font-bold text-accent-content pt-4">
                    {teamMember.name}
                  </h2>
                </a>
              </div>
              <div class="text-2xl text-accent-content/60 px-10 max-w-screen-md m-auto">
                {teamMember.jobTitle}
              </div>
              {teamMember.company && (
                <div class="text-3xl text-accent-content py-4">
                  @{teamMember.company}
                </div>
              )}
              <div class="py-2 flex gap-2 flex-wrap justify-center">
                {teamMember.team.map((team) => (
                  <span class="badge badge-secondary">
                    {t(`team:role.${team}`)}
                  </span>
                ))}
              </div>

              <div class="pt-4 px-8 flex justify-center gap-8">
                {teamMember.social.instagram && (
                  <a
                    title={t("see-social", {
                      social: "instagram",
                      name: teamMember.name,
                    })}
                    href={teamMember.social.instagram}
                    target="_blank"
                  >
                    <SocialIcon name="instagram" />
                  </a>
                )}
                {teamMember.social.facebook && (
                  <a
                    title={t("see-social", {
                      social: "facebook",
                      name: teamMember.name,
                    })}
                    href={teamMember.social.facebook}
                    target="_blank"
                  >
                    <SocialIcon name="facebook" />
                  </a>
                )}
                {teamMember.social.linkedin && (
                  <a
                    title={t("see-social", {
                      social: "linkedin",
                      name: teamMember.name,
                    })}
                    href={teamMember.social.linkedin}
                    target="_blank"
                  >
                    <SocialIcon name="linkedin" />
                  </a>
                )}
                {teamMember.social.twitter && (
                  <a
                    title={t("see-social", {
                      social: "X",
                      name: teamMember.name,
                    })}
                    href={teamMember.social.twitter}
                    target="_blank"
                  >
                    <SocialIcon name="x" />
                  </a>
                )}
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</Layout>
