---
import { env } from "../costants";
import { getSpeakerById } from "../data/speaker";
// @ts-expect-error missing types?
import { localizeUrl } from "astro-i18next";

type Props = { id: string };

const { id } = Astro.props;
const speaker = await getSpeakerById(id);
const origin = env.siteUrl;
---

{
  !speaker ? null : (
    <div class="blog-author flex align-items-center gap-3">
      <a
        href={localizeUrl(`${origin}/speaker/${id}`)}
        class="block w-14 h-14 shrink-0"
      >
        <img
          src={speaker.imageUrl}
          class="w-14 h-14 rounded-2xl mr-4 shrink-0"
          alt={speaker.name}
        />
      </a>
      <div>
        <h3 class="text-lg md:text-xl font-bold">{speaker.name}</h3>
        <p class="text-sm font-light">{speaker.description}</p>
      </div>
    </div>
  )
}
