---
import EventCard from "./EventCard.astro";
export interface Speaker {
    name: string;
    description: string;
    imageUrl: string;
}

export interface Event {
    name: string;
    length: string;
    language?: string;
    speaker?: Speaker;
}

export interface AgendaElement {
    time: string;
    events: Event[]
}

const { time, events, multiple } = Astro.props;
---

<div class="flex my-8">
    <div class="flex flex-col md:flex-row w-full gap-6 mb-6">
        <div class="h-40 w-40 rounded-3xl shrink-0 bg-[#232323] text-center flex">
            <div class="h-min m-auto">
                <span class="text-4xl font-black">{time.split(":")[0]}</span>
                <span class="text-2xl">:{time.split(":")[1]}</span>
            </div>
        </div>
        <div class={ multiple ? "w-full rounded-3xl bg-[#232323] p-6 splide" : "w-full rounded-3xl bg-[#232323] p-6"}>
            <div class={ multiple ? "splide__track" : null }>
                <ul class="splide__list">
                    {
                        events.map((event: Event, index: number) => (
                            <EventCard
                                name={event.name}
                                length={event.length}
                                language={event.language}
                                speaker={event.speaker}
                                multiple={multiple}
                            />
                        ))
                    }
                </ul>
                <!--If speaker -->
            </div>
            {
                multiple && (
                    <div class="splide__arrows absolute -bottom-8 left-6 rounded-xl bg-[#323232] divide-x divide-dotted">
                        <button class="splide__arrow--prev p-2 px-4 text-2xl">
                            &lt;
                        </button>
                        <button class="splide__arrow--next p-2 px-4 text-2xl">
                            &gt;
                        </button>
                    </div>
                )
            }
        </div>
    </div>
</div>
