---
export interface Speaker {
    name: string;
    description: string;
    imageUrl: string;
}

const { name, length, language, speaker, multiple } = Astro.props;
---

{
    speaker && (
    <div class={ multiple ? 'flex flex-col md:flex-row gap-6 w-10/12': 'flex flex-col md:flex-row gap-6 w-full' }>
        <div class="rounded-3xl bg-[#2E2E2E]" >
            <div class="p-6">
                <div class="flex justify-start">
                    <span class="block bg-slate-300 text-black px-3 py-2 rounded-3xl text-sm">
                        {length}
                    </span>
                    <!--If language -->
                    {
                        language && (
                        <span class="block bg-slate-300 text-black px-3 py-2 mx-2 rounded-3xl text-sm">
                            {language}
                        </span>
                        )
                    }
                </div>
                <h2 class="text-4xl font-black">{name}</h2>
                <!-- If !speaker -->
                { !speaker && (
                    <hr class="h-px my-8 border-dashed" />
                )}
            </div>
            <!--If speaker -->
            {
                speaker && (
                    <div class="w-full bg-[#323232] rounded-b-3xl p-6">
                        <div class="blog-author flex align-items-center">
                            <img
                                src={speaker.imageUrl}
                                class="w-14 h-14 rounded-2xl"
                                alt={speaker.name}
                            />
                            <div>
                                <h3>{speaker.name}</h3>
                                <p>{speaker.description}</p>
                            </div>
                        </div>
                    </div>
                )
            }
        </div>
    </div>
    )
}
{ !speaker && (
    <div class="w-full rounded-3xl bg-[#232323]">
        <div class="flex justify-end">
            <span class="block bg-slate-300 text-black px-3 py-2 rounded-3xl text-sm">
                {length}
            </span>
        </div>
        <h2 class="text-4xl font-black">{name}</h2>
        <hr class="h-px my-8 border-dashed" />
    </div>
)}