---
interface Props {
  text: string;
  level: 'h1' | 'h2' | 'h3';
}

const {text, level} = Astro.props;

const backCommon = 'px-2 pb-8 back-h';
const backByLevel = {
    'h1': 'text-8xl xl:text-9xl',
    'h2': 'text-7xl xl:text-8xl',
    'h3': 'text-6xl xl:text-7xl',
}[level];
const backClass = `${backCommon} ${backByLevel}`;
---

<div class={backClass} data-content={text}>
    {
        {
            'h1': <h1 class="text-5xl xl:text-6xl font-bold text-accent-content foreground-h">{text}</h1>,
            'h2': <h2 class="text-4xl xl:text-5xl font-bold text-accent-content foreground-h">{text}</h2>,
            'h3': <h3 class="text-2xl xl:text-3xl font-bold text-accent-content foreground-h">{text}</h3>,
        }[level]
    }
</div>
<style>
    .back-h::before {
        font-family: theme(fontFamily.scriptina);
        content: attr(data-content);
        color: #363636; /* TODO replace with theme color */
    }

    .foreground-h {
        margin-top: -1.5rem;
    }
</style>
