---
import { t } from "i18next";
import gdgLogo from "../assets/gdg-logo.svg";
import { getImage } from "astro:assets";
import heroMask from "../assets/hero-mask.webp";

const image = await getImage({
  src: heroMask,
  quality: 75,
});

const imageUrl = `url(${image.src})`;

const signUpUrl =
  "https://gdg.community.dev/events/details/google-gdg-pescara-presents-devfest-pescara-2023/cohost-gdg-pescara";
---

<section id="signUp" class="hero min-h-screen section-white">
  <div
    class="hero-content text-center backdrop-blur-md backdrop-contrast-20 p-8 rounded-3xl md:p-16"
  >
    <div class="max-w-3xl">
      <img
        width={gdgLogo.width}
        height={gdgLogo.height}
        class="m-auto"
        src={gdgLogo.src}
        alt=""
      />
      <h1
        class="text-5xl md:text-6xl font-scriptina font-light text-black pt-16"
      >
        {t("site-title")}
      </h1>
      <h2 class="text-4xl md:text-[5rem] font-harrypotter text-black py-16">
        {t("site-motto")}
      </h2>
      <h3 class="text-xl md:text-[2rem] font-scriptina text-black pb-8">
        {t("site-dates")}
      </h3>
      <a
        class="btn btn-outline btn-primary btn-wide btn-circle mt-6"
        href={signUpUrl}
        target="_blank">{t("sign-up")}</a
      >
    </div>
  </div>
</section>

<style define:vars={{ imageUrl }}>
  #signUp {
    background-image: var(--imageUrl);
  }
</style>

<style>
  .hero {
    padding: theme("space.32") theme("space[0.5]") theme("space.20")
      theme("space[0.5]");
  }
</style>
