---
import Section from "./Section.astro";
import { getSpeakers } from "../data/speaker";
import { randomize } from "../utils";
import SpeakerProfile from "./SpeakerProfile.astro";
import clsx from "clsx";

const speakers = await getSpeakers();
const randomSpeakers = randomize(speakers);
---

<Section title="Speakers" id="speakers" additionalClass="dots" />
{
  randomSpeakers.map((speaker) => (
    <div class="max-w-screen-lg m-auto">
      <div class="bg-[#232323] rounded-xl p-6 my-6 lg:grid lg:grid-cols-2 justify-center m-2">
        <div class={clsx({ "col-span-2": !speaker.raw.trim() })}>
          <SpeakerProfile
            id={speaker.id}
            name={speaker.name}
            jobTitle={speaker.jobTitle}
            company={speaker.company}
            imageUrl={speaker.imageUrl}
            social={speaker.social}
            showLink
          />
        </div>

        {speaker.raw.trim() ? (
          <div>
            <div class="max-w-lg m-auto pt-6 prose">
              <speaker.Bio.Content />
            </div>
          </div>
        ) : null}
        <div class="divider-horizontal divide-secondary-content" />
      </div>
    </div>
  ))
}
../data/speaker