---
import { getSpeakerById } from "../data/speakers-data";
import Section from "./Section.astro";
import SpeakerProfile from "./SpeakerProfile.astro";
type Props = {
  speakerId: string;
  additionalClass?: string;
  showLink?: boolean;
};

const { speakerId, additionalClass, showLink } = Astro.props;
const speaker = await getSpeakerById(speakerId);

if (!speaker) {
  throw new Response(null, { status: 404 });
}
---

<Section additionalClass={additionalClass}>
  <div
    class="gap-2 xl:flex lg:items-center xl:justify-center flex-wrap xl:pb-16 p-2"
  >
    <div class="shrink-0 py-16 md:pt-10 xl:pt-20 my-16">
      <SpeakerProfile
        id={speakerId}
        name={speaker.name}
        jobTitle={speaker.jobTitle}
        company={speaker.company}
        imageUrl={speaker.imageUrl}
        social={speaker.social}
        showLink={showLink}
      />
    </div>
    {
      speaker.raw.trim() ? (
        <div class="bg-[#232323] py-16 max-w-screen-lg mx-auto xl:mx-0 text-xl px-10 text-left xl:text-left text-base-content xl:py-16 rounded-xl prose">
          <speaker.Bio.Content />
        </div>
      ) : null
    }
  </div>
</Section>
