---
import { Image } from "astro:assets";
import facebookImageSrc from "../assets/social/facebook.svg";
import instagramImageSrc from "../assets/social/instagram.svg";
import linkedinImageSrc from "../assets/social/linkedin.svg";
import twitterImageSrc from "../assets/social/twitter.svg";
import { speakersData } from "../data/speakers-data";
import Section from "./Section.astro";

const { speakerId, additionalClass } = Astro.props;
const speaker = (speakersData as any)[speakerId];
---

<Section additionalClass={ additionalClass }>
  <div class="py-16 md:pt-10 xl:pt-20 my-16 text-center">
    <img
      src={speaker.imageUrl}
      class="w-60 h-60 rounded-full border-4 m-auto"
      alt={speaker.name}
    />
    <h2 class="text-4xl font-bold text-accent-content pt-4">{speaker.name}</h2>
    {
      speaker.company && (
        <div class="text-3xl text-accent-content pt-4">@{speaker.company}</div>
      )
    }
    <div class="text-2xl font-bold text-accent-content pt-4 px-10">
      {speaker.jobTitle}
    </div>
    <p class="text-xl px-10 text-left xl:text-center text-accent-content pt-4 xl:px-64">
      {speaker.bio}
    </p>
    <div class="pt-4 px-8 flex justify-center gap-8">
      {
        speaker.social && speaker.social.instagram && (
          <a href={speaker.social.instagram} target="_blank">
            <Image
              class="max-h-[40px] h-[40px] max-w-[40px] w-[40px] m-auto"
              src={instagramImageSrc}
              alt="Instagram"
            />
          </a>
        )
      }
      {
        speaker.social && speaker.social.facebook && (
          <a href={speaker.social.facebook} target="_blank">
            <Image
              class="max-h-[40px] h-[40px] max-w-[40px] w-[40px] m-auto"
              src={facebookImageSrc}
              alt="Facebook"
            />
          </a>
        )
      }
      {
        speaker.social && speaker.social.linkedin && (
          <a href={speaker.social.linkedin} target="_blank">
            <Image
              class="max-h-[40px] h-[40px] max-w-[40px] w-[40px] m-auto"
              src={linkedinImageSrc}
              alt="Linkedin"
            />
          </a>
        )
      }
      {
        speaker.social && speaker.social.twitter && (
          <a href={speaker.social.twitter} target="_blank">
            <Image
              class="max-h-[40px] h-[40px] max-w-[40px] w-[40px] m-auto"
              src={twitterImageSrc}
              alt="Twitter"
            />
          </a>
        )
      }
    </div>
  </div>
</Section>
