---
import { Image } from "astro:assets";
import facebookImageSrc from "../assets/social/facebook.svg";
import instagramImageSrc from "../assets/social/instagram.svg";
import linkedinImageSrc from "../assets/social/linkedin.svg";
import twitterImageSrc from "../assets/social/twitter.svg";
import { getSpeakerById, speakersData } from "../data/speakers-data";
import Section from "./Section.astro";
// @ts-expect-error missing types?
import { localizeUrl } from "astro-i18next";
import SpeakerProfile from "./SpeakerProfile.astro";
type Props = {
  speakerId: string;
  additionalClass?: string;
  showLink?: boolean;
};

const { speakerId, additionalClass, showLink } = Astro.props;
const speaker = await getSpeakerById(speakerId);
const { origin } = new URL(Astro.request.url);

if (!speaker) {
  throw new Response(null, { status: 404 });
}
---

<Section additionalClass={additionalClass}>
  <div
    class="gap-2 xl:flex lg:items-center xl:justify-center p-2 flex-wrap xl:pb-16"
  >
    <div class="shrink-0 py-16 md:pt-10 xl:pt-20 my-16">
      <SpeakerProfile
        id={speakerId}
        name={speaker.name}
        jobTitle={speaker.jobTitle}
        company={speaker.company}
        imageUrl={speaker.imageUrl}
        social={speaker.social}
        showLink={showLink}
      />
    </div>
    {
      speaker.raw.trim() ? (
        <div class="bg-[#232323] py-16 max-w-screen-lg mx-auto xl:mx-0 text-xl px-10 text-left xl:text-left text-base-content xl:py-16 rounded-xl">
          <speaker.Bio.Content />
        </div>
      ) : null
    }
  </div>
</Section>
