---
import Heading from "./Heading.astro";
import {Image} from "@astrojs/image/components";
interface Props {
  imageSrc: string;
  imageAlt: string;
  title: string;
  description: string;
}

const {imageSrc, imageAlt, title, description} = Astro.props;
---

<div class="text-center px-2">
    <Image
            class="max-h-[200px] h-[200px] m-auto"
            src={imageSrc}
            alt={imageAlt}
    />
    <Heading text={title} level="h3"/>
    <div class="text-5xl xl:text-6xl font-bold text-accent-content">{description}</div>
</div>
