---
import { HeadHrefLangs } from "astro-i18next/components";
import i18next, { t } from "i18next";
import Drawer from "../components/Drawer.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
  description?: string;
  image?: string;
  keywords?: string[]
}

const origin = Astro.url.origin;
const currentPath = Astro.url.href;

const { title, description, image, keywords } = Astro.props;
const imagePath = image ?? (origin + '/assets/gdg-logo.svg');
console.log(image)

const keywordsToAdd = ['Devfest', 'Pescara', 'GDG', ...(keywords ?? [])].join(', ')
---

<!doctype html>
<html data-theme="dark" lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description ?? t("description")} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- SEO meta -->
    <meta name="robots" content="all">
    <meta name="googlebot" content="all">
    <meta name="revisit-after" content="7 days">
    <meta name="rating" content="General">
    <meta name="language" content={i18next.language}>
    <meta name="keywords" content={keywordsToAdd}>
    <meta name="author" content="GDG Pescara">
    <!-- share -->
    <meta property="og:url" content={currentPath} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description ?? t("description")}/>
    <meta property="og:image" content={imagePath} />
    <meta property="og:image:secure_url" content={imagePath} />
    <meta property="og:locale" content={i18next.language}>
    <title>{title}</title>
    <HeadHrefLangs />
  </head>
  <body>
    <Drawer>
      <slot />
    </Drawer>
    <Footer />
  </body>
  <style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
    /* The integration's default injected base.css file */
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    html,
    body {
      background-color: #181818;
    }

    :global(html) {
      scroll-behavior: smooth;
    }

    @media (prefers-reduced-motion: reduce) {
      :global(html) {
        scroll-behavior: auto;
      }
    }
  </style>
  <script>
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker
        .register("/serviceWorker.js")
        .then(function (registration) {
          console.log(
            "ServiceWorker registration successful with scope: ",
            registration.scope,
          );
        })
        .catch(function (err) {
          console.log("ServiceWorker registration failed: ", err);
        });
    }
  </script>
</html>
